[submodule "openal-soft_sys/openal-soft"]
	path = openal-soft_sys/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "emu8950-sys/emu8950"]
	path = emu8950-sys/emu8950
	url = https://github.com/digital-sound-antiques/emu8950.git
